header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:lightgray;
    color:black;padding:1em;
} 

.user {
    display:flex;
    justify-content:space-between;
}