<br>
<form [formGroup]="form">

    <div class="form-group" >
      <label for="selectedTemplate">Job Template</label>

      <p-dropdown id="selectedTemplate" placeholder="Select a Job Template" formControlName="selectedTemplate" (onChange)="selectedTemplateChange($event)"
          [options]="(commandTemplates$ | async) || []" 
          optionLabel="name" >
          <ng-template let-command pTemplate="item">
              <div class="flex align-items-center gap-2">
                  <div>{{ command.name }}</div>
              </div>
          </ng-template>
      </p-dropdown>
      <p-button (click)="editSelectedTemplateClick()" label="Edit Template" styleClass="p-button-text"></p-button>
      <p-button (click)="addNewTemplateClick()" label="Add Template" styleClass="p-button-text"></p-button>
      <!-- <p-button (click)="deleteTemplateClick()" label="Delete Template" styleClass="p-button-text"></p-button> -->
      <!-- <p-confirmPopup></p-confirmPopup> -->
      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      <p-button (click)="confirmDelete($event)" label="Delete Template" styleClass="p-button-text"></p-button>

      
    </div>
    <br><br>

    <div>
      <div class="form-group" *ngFor="let param of (selectedTemplateParams$ | async); let i=index">
        <label [for]="'templateParam'+i">{{param.name}}</label>
        <input [id]="'templateParam'+i" [formControlName]="param.name" pInputText class="input-control" />
      </div>
    </div>

    <br>
    <div class="action-buttons">
        <p-button (click)="runClick()">Run</p-button>
    </div>

<br><br>
    <label>Past Jobs</label>
    <p-table styleClass="p-datatable-striped" [columns]="serverJobsResultColumns"
        [value]="(toolsService.commandRunResults$ | async) || []" [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 25, 50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th id="nameColumn"> Command Name </th>
                <th id="parametersColumn"> Parameters </th>
                <th id="runDateColumn"> Run Date </th>
                <th id="reportLinkColumn"> Report </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td> {{ rowData['commandTemplate'].name }} </td>
                <td> {{ rowData['parametersJson'] }} </td>
                <td> {{ rowData['runDate'] | date }} </td>
                <td> <a (click)="openReportClick(rowData['id'])"
                        style="text-decoration: underline; cursor:pointer;">View Report</a></td>
            </tr>
        </ng-template>
    </p-table>

  </form>

  <p-progressSpinner *ngIf="jobIsRunning" [style]="{width: '50px', height: '50px'}" 
    styleClass="custom-spinner" 
    strokeWidth="4" 
    fill="#EEEEEE" animationDuration="2s"></p-progressSpinner>