<form [formGroup]="form">

    <div class="flex gap-4 pt-3">
        <div class="flex gap-1 align-items-center">
            <label for="selectedView">Custom Views</label>

            <p-dropdown id="selectedView" formControlName="selectedView" placeholder="Select a View" (onChange)="selectedViewChange($event)"
                [options]="(state.entities$| async) || []" optionLabel="name" dataKey="id">
                <ng-template let-view pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ view.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="flex gap-1">
            <p-button [disabled]="!hasSelectedView" (click)="editSelectedClick()" label="Edit View" styleClass="p-button-text"></p-button>
            <p-button (click)="addNewClick()" label="Add View" styleClass="p-button-text"></p-button>

            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
            <p-button [disabled]="!hasSelectedView" (click)="confirmDelete($event)" label="Delete View" styleClass="p-button-text"></p-button>
        </div>

    </div>

    <br><br>
    <div class="form-group mb-1" *ngFor="let param of (selectedViewParams$ | async); let i=index">
        <label [for]="'viewParam'+i">{{param.name}}</label>
        
        <input *ngIf="param.dataType == 'string'" [id]="'viewParam'+i" [formControlName]="param.name" pInputText class="input-control" />
        <input *ngIf="param.dataType == 'number'" [id]="'viewParam'+i" [formControlName]="param.name" pInputText class="input-control" type="number"  />
        <p-calendar *ngIf="param.dataType == 'date'" [formControlName]="param.name"></p-calendar>
    </div>


    <br>
    <div class="action-buttons">
        <p-button [disabled]="!hasSelectedView" (click)="runClick()">Run</p-button>
    </div>

    <br><br>

    <p-table #dt *ngIf="viewRan" 
        [columns]="viewDataCols" 
        [value]="viewData" 
        [tableStyle]="{ 'min-width': '50rem', 'max-width': '1000px' }"
        selectionMode="multiple" 
        [(selection)]="selectedRows"
        [scrollable]="true" 
        scrollHeight="400px" 
        scrollDirection="both" 
        [resizableColumns]="true"
        >
        <ng-template pTemplate="caption">

            <div style="display:flex; justify-content:space-between">
                <div>{{form.get('selectedView')?.value?.name || ' '}}</div>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                    class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pResizableColumn *ngFor="let col of columns" style="max-width:200px;">
                    {{ col }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{ rowData[col] }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                 No records found
              </td>
            </tr>
        </ng-template>

    </p-table>

</form>

<p-toast position="center"></p-toast>