
<header>
    <h1>Database Tools</h1>
</header>

<p-tabMenu [model]="items"></p-tabMenu>

<div id="view-tab" *ngIf="selectedTab=='view'">
    <app-db-viewer></app-db-viewer>
</div>

<div id="export-tab" *ngIf="selectedTab=='export'">
    <app-db-export></app-db-export>
</div>

<div id="import-tab" *ngIf="selectedTab=='import'" style="width:80em">
    <app-db-import></app-db-import>
</div>

<div id="seeder-tab" *ngIf="selectedTab=='seed'" style="width:80em">
    <app-db-seeder></app-db-seeder>
</div>



<router-outlet></router-outlet>
