
<div [formGroup]="formGroup" style="display:flex gap-2">

<label>Active Connection</label>
<p-dropdown formControlName="selectedConnection" (onChange)="connectionChange($event)"
    [options]="(connectionsService.databaseConnections | async) || []" 
    optionLabel="name">
    <ng-template let-connection pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ connection.name }} ({{connection.host}} port:{{connection.port}})</div>
        </div>
    </ng-template>
</p-dropdown>

</div>
